body {
    position: relative;
    color: #EB2188;
    font: 14px "Proxima Nova", sans-serif;
    border: 20px solid #080A52;
    margin: 0;
    padding: 0;
    height: auto;
}

footer {
    text-align: center;
}

li {
    list-style-type: none;
}

a:link, a:visited, a:hover, a:active{
    color: #EB2188;
    text-decoration: none;
}

.move {
    color: #080A52;
    background-color: #EB2188;
    border: 3px solid #080A52;
    font-weight: bold;
    margin-left: -5px;
    margin-top: -5px;;
    height: 58px;
    width: 215px;
    cursor: pointer;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    color: #080A52;
    background: #EB2188;
    border: 5px solid #080A52;
    float: left;
    font-size: 120px;
    font-weight: bold;
    line-height: 170px;
    height: 170px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 170px;
    cursor: pointer;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #080A52;
}

.tictactoe {
    height: fill;
    border: 10px solid #080A52;
}

.game {
    background-color: #080A52;
    display: flex;
    flex-direction: row;
    height: fill;
    border: 60px solid #080A52;
}

.game-board{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px #080A52;
    border: 5px solid #080A52;
}

.game-info {
    right: 0;
    margin-right: 80px;
    position: absolute;
    width: 200px;
    height: auto;
    display: inline-block;
    padding: 0;
}

.game-status {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    width: 200px;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 0;
}

#emoticon {
    margin-top: 80%;
    font-size: 80px;
}
