a:link,
a:visited,
a:hover,
a:active {
  color: #eb2188;
  text-decoration: none;
}

.board-row {
  width: 60vmin;
  display: inline-flex;
}

body {
  color: #eb2188;
  background-color: #080a52;
  font: 14px 'Proxima Nova', sans-serif;
}

button {
  width: 25vh;
  height: 6.2vh;
  color: #080a52;
  background-color: #eb2188;
  border: 0 solid #eb2188;
  font-weight: bold;
  font-size: 2.2vh;
}

button:active,
button:hover,
button:focus {
  color: #eb2188;
  background-color: #080a52;
  outline: 0;
}

.centered-text {
  text-align: center;
}

#emoticon {
  font-size: 15vmin;
}

footer {
  background-color: #080a52;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  font-size: 1.8vh;
  text-align: center;
}

.game-board {
  height: 65vmin;
  width: 60vmin;
  background-color: #080a52;
  color: #eb2188;
  padding: 10vmin;
}

.game-info {
  padding: 10vmin;
}

.game-status {
  height: 35vmin;
}

li {
  list-style-type: none;
}

.page-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(60vmin, 1fr));
}

.square {
  height: 20vmin;
  width: 20vmin;
  font-size: 10vmin;
  justify-content: center;
  margin: 0.5vmin;
  display: inline-flex;
}

#status {
  font-size: 8vmin;
}
